
## Template for 'assertTrue directive' test

Beginning of template
Bla bla bla
Context values :
 - project = $project 
 - name = $name 
 - flagTrue = $flagTrue
 - flagFalse = $flagFalse
Invalid reference : $name.myMethod()
End of template